<footer class="bg-dark text-center p-4">
<p class="h4">Proyecto Final Desarrollo Web - Luis Jimenez - UniAsturias</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>